@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root{
    --color-primario-100: #FFFFFF; 
    --color-secundario-500: #360C72;
    --color-secundario-400: #652BDF;
    --color-secundario-300: #E4D7FF;
    --color-secundario-100: #F0EAFC;
    --bg-color: #FCFBFF;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--bg-color);
}

header{
    background-color: var(--color-primario-100);
    border-bottom: 1px solid gainsboro;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.header-content{
    max-width: 1022px;
    height: 80px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left img{
    height: 32px;
    width: auto;
    display: block;
}

.header-actions{
    display: flex;
    align-items: center;
}

.header-nav-list{
    display: flex;
    gap: 20px;
}

.header-nav-list a{
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    margin: 0 4px;
    padding: 10px 12px;
    border-radius: 50px;
}

.header-nav-list a:hover{
    background-color: var(--color-secundario-300);
    cursor: pointer;
}

.separator{
    width: 1px;
    height: 24px;
    background-color: grey;
    margin: 0 15px;
}

.header-btn{
    display: flex;  
    gap: 12px;
    align-items: center;
}

.btn-primary, .btn-secundary{
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50px;
}

.btn-primary{
    color: var(--color-secundario-400);
    background-color: transparent;
    border: 1px solid var(--color-secundario-400);
}

.btn-secundary{
    color: white;
    background-color: var(--color-secundario-400);
}

.btn-primary:hover{
    background-color: var(--color-secundario-300);
    cursor: pointer;
} 

.btn-secundary:hover{
    background-color: var(--color-secundario-300);
    cursor: pointer;
    color: var(--color-secundario-400);
    border: 1px solid var(--color-secundario-400);
}


.logo{
    display: none;
}

.btn-menu{
    display: none;
}


main{
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 0 20px;
}

.Cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
    gap: 16px;
    padding: 0px 20px;
    margin: 32px auto;
}

.section-card-text{
    background-color: var(--color-primario-100);
    border-radius: 16px;
    padding: 24px;
    gap: 16px;
    width: 285px;
    height: 250px;
}


.card-text{
    margin-top: 20px;
    font-size: 21px;
}

.card-description{
    font-size: 17.5px;
    color: gray;
    margin-top: 15px;
}

.card-icon{
    background-color: var(--color-secundario-100);
    height: 57px;
    width: 57px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-icon i{
    font-size: 24px;
   color: var(--color-secundario-400);
}


.btn-promotional{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.btn-content{
    background-color: var(--color-secundario-500);
    color: white;
    border-radius: 28px;
    width: 100%;
    max-width: 900px;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.btn-content h2{
    font-size: 30px;
}

.btn-content p{
    font-size: 16px;
}

.btn-content a{
    font-size: 16px;
    font-weight: 600;
    color: var(--color-secundario-400);
    border-radius: 25px;
    background-color: var(--color-primario-100);
}

.btn-p-tr{
    align-self: center;
}

.btn-content a:hover{
    background-color: black;
    color: #E4D7FF;
    cursor: pointer;
}

.title-charge{
    font-size: 35px;
    font-weight: 650;
    margin-top: 60px;
    text-align: center;
}

.text-charge{
    font-size: 16px;
    color: gray;
    margin-top: 16px;
    text-align: center;
    padding: 0 20px;
}

.card-charge{
    background-color: var(--color-primario-100);
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 300px;  
    width: 930px;  
    height: 310px;
    border-radius: 20px;  
}

.card-charge,
.card-charge-reverse{
    background-color: var(--color-primario-100);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
    max-width: 1100px;
    width: calc(100% - 40px);
    border-radius: 20px;
    padding: 40px;
    gap: 40px;
}

.card-charge-reverse{
    flex-direction: row-reverse;
}

.c-text-charge,
.c-text-charge-r{
    display: flex;
    flex-direction: column;
}

.card-charge h2,
.card-charge-reverse h2{
    font-size: 28px;
}

.card-charge p,
.card-charge-reverse p{
    margin-top: 25px;
    max-width: 380px;
}

.btn-tertiary,
.btn-tertiary2{
    font-size: 14px;
    font-weight: 600;
    color: white;
    border-radius: 25px;
    padding: 12px 30px;
    background-color: var(--color-secundario-400);
    align-self: flex-start;
    margin-top: 24px;
}

.btn-tertiary:hover,
.btn-tertiary2:hover{
    cursor: pointer;
    background-color: var(--color-secundario-500);
}

.img-charge img{
    max-width: 100%;
    height: auto;
}

.img-charge:hover{
    cursor: pointer;
    padding: 2px;
}


footer{
    background-color: var(--color-primario-100);
    padding: 40px 20px; 
}

footer img{
    margin-left: 280px;
}

.footer-list{
    display: flex;
    gap: 80px;
    justify-content: space-between;
    max-width: 1022px;
    margin: 0 auto;
}

footer span{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px;
}

footer ul{
    margin-top: 16px;
    list-style: none; 
}

footer li{
    margin-top: 12px;
    text-align: left;
}

footer a{
    font-size: 14px;
    text-decoration: none;
    color: black;
}

@media (max-width: 991px){

nav{
display: none;
}

.header-btn{
display: none;
}

.btn-menu{
display: block;
background: none;
border: none;
font-size: 26px;
align-content: center;
}

.logo{
display: block;
}

.header-logo-nave{
display: none;
}

.separator{
display: none;
}

h1{
font-size: 30px;
margin: 0;
}

.section-card-text{
width: 45%;
}


footer img{
margin-left: initial;
}
}

@media (max-width: 770px){

.Cards{
padding: 0 40px;
flex-wrap: wrap;
justify-content: center;
}
}

@media (max-width: 765px){

.header-nav-list,
.header-btn,
.header-divider{
display: none;
}

.logo{
display: block;
}

.btn-menu{
display: block;
background: none;
border: none;
font-size: 24px;
}

.header-content{
padding: 0 20px;
}

h1{
font-size: 28px;
padding: 0 20px;
}

.Cards{
flex-direction: column;
padding: 0 20px;
}

.section-card-text{
width: 100%;
}

.btn-content{
flex-direction: column;
height: auto;
padding: 24px;
text-align: left;
}

.btn-p-tr{
margin-top: 20px;
}

.card-charge,
.card-charge-reverse{
flex-direction: column;
width: calc(100% - 40px);
margin: 20px;
height: auto;
}

.card-charge img,
.card-charge-reverse img{
width: 100%;
height: auto;
}

footer {
height: auto;
}

footer img{
margin: initial;
}

.footer-list{
flex-direction: column;
padding: 0 20px;
}

.footer-list div{
width: 100%;
}
}

@media(max-width:470px){

h1{
font-size:24px;
}

.btn-content a{
font-size: 12px;
padding: 8px 30px;
}

.title-charge{
font-size:26px;
}

.text-charge{
padding:0 20px;
}

card-charge h2,
.card-charge-reverse h2{
align-items: center;
}

.btn-tertiary,
.btn-tertiary2{
padding: 10px 40px;
}

.img-charge img{
max-width:85%;
}

footer{
padding:24px 16px;
}

footer li{
text-align:left;
}
}  




