@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root{
    --color-primario-100: #FFFFFF; 
    --color-secundario-500: #360C72;
    --color-secundario-400: #652BDF;
    --color-secundario-300: #E4D7FF;
    --color-secundario-100: #F0EAFC;
    --bg-color: #FCFBFF;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

header{
    height: 78px;
    background-color:var(--color-primario-100);
    border-bottom: 1px solid gainsboro;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

body{
    background-color: var(--bg-color);
}


ul{
    list-style: none;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 0 300px;
    height: 100%;
    margin: 0 auto;
}

.header-nav-list{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.header-nav{
    font-size: 14px;
    font-weight: 550;
    margin: 0 4px;
    padding: 10px 12px;
    border-radius: 50px;
}


.header-nav:hover{
    background-color: var(--color-secundario-300);
    cursor: pointer;
}

.header-btn{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.btn-primary{
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-secundario-400);
    background-color: transparent;
    border: 1px solid var(--color-secundario-400);
    border-radius: 50px;
}

.btn-secundary{
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: var(--color-secundario-400);
    border-radius: 50px;
}


.btn-primary:hover{
    background-color: var(--color-secundario-300);
    cursor: pointer;
} 

.btn-secundary:hover{
    background-color: var(--color-secundario-300);
    cursor: pointer;
    color: var(--color-secundario-400);
    border: 1px solid var(--color-secundario-400);
}

.header-divider{
    width: 1px;
    height: 25px;
    background-color: gainsboro;
} 


.logo{
    display: none;
}

.btn-menu{
    display: none;
}

main{
    padding-top: 80px;
    margin-bottom: 120px;
}

h1{
    font-size: 40px;
    margin-top: 60px;
    text-align: center;
}

.Cards{
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    padding: 0 300px;
}

.section-card-text{
    background-color: var(--color-primario-100);
    margin-top: 12px;
    border-radius: 16px;
    padding: 24px;
    gap: 16px;
    width: 285px;
    height: 250px;
}

.card-text{
    margin-top: 20px;
    text-align: left;
    font-size: 21px;
}

.card-description{
    font-size: 17.5px;
    text-align: left;
    color: gray;
    margin-top: 15px;
}

.card-icon{
    background-color: var(--color-secundario-100);
    height: 57px;
    width: 57px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-icon i{
    font-size: 24px;
   color: var(--color-secundario-400);
}

.section-card-text:hover{
    cursor: pointer;
    padding: 1px;
}

.btn-promotional{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btn-content{
    background-color: var(--color-secundario-500);
    color: white;
    border-radius: 28px;
    width: 907px;
    height: 122px;
    display: flex;
    justify-content: space-between;
}

.btn-content h2{
    font-size: 30px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 12px;
    margin-left: 55px;
}

.btn-content p{
    font-size: 16px;
    text-align: left;
    margin-left: 55px;
}

.btn-content a{
    font-size: 16px;
    font-weight: 600;
    color: var(--color-secundario-400);
    border-radius: 25px;
    padding: 10px 32px;
    background-color: var(--color-primario-100);
    margin-right: 55px;
}

.btn-p-tr{
    margin-top: 52px;
}

.btn-content a:hover{
    background-color: black;
    color: #E4D7FF;
    cursor: pointer;
}

.title-charge{
    font-size: 35px;
    font-weight: 650;
    margin-top: 60px;
    text-align: center;
}

.text-charge{
    font-size: 16px;
    color: gray;
    margin-top: 16px;
    text-align: center;
}

.card-charge{
    background-color: var(--color-primario-100);
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 300px;  
    width: 930px;  
    height: 310px;
    border-radius: 20px;  
}

.card-charge-reverse{
    flex-direction: row-reverse;
    margin-top: 40px;
    background-color: var(--color-primario-100);
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 300px;  
    width: 930px;  
    height: 310px;
    border-radius: 20px;
}

.card-charge h2{
    font-size: 28px;
    text-align: left;
    margin-left: 30px;
    margin-top: 65px; 
}

.card-charge p{
    text-align: left;
    margin-left: 30px;
    margin-top: 25px;
    width: 380px;
    height: 118px;
}

.c-text-charge{
    display: flex;
    flex-direction: column;
}

.btn-tertiary{
    font-size: 14px;
    font-weight: 600;
    color: white;
    border-radius: 25px;
    padding: 12px 30px;
    background-color: var(--color-secundario-400);
    align-self: flex-start;
    margin-left: 30px;
}

.btn-tertiary:hover{
    cursor: pointer;
    background-color: var(--color-secundario-500);
}

.card-charge-reverse h2{
    font-size: 28px;
    text-align: left;
    margin-left: 60px;
    margin-top: 65px; 
}

.card-charge-reverse p{
    text-align: left;
    margin-left: 60px;
    margin-top: 25px;
    width: 380px;
    height: 118px;
}

.c-text-charge-r{
    display: flex;
    flex-direction: column;
}

.btn-tertiary2{
    font-size: 14px;
    font-weight: 600;
    color: white;
    border-radius: 25px;
    padding: 12px 30px;
    background-color: var(--color-secundario-400);
    align-self: flex-start;
    margin-left: 60px;
    }

    .btn-tertiary2:hover{
    cursor: pointer;
    background-color: var(--color-secundario-500);
}

    .img-charge:hover{
    cursor: pointer;
    padding: 2px;
    }


footer{
    background-color: var(--color-primario-100);
    height: 400px;
    padding: 24px;
    width: 100%;
}

footer img{
    margin-left: 280px;
}

.footer-list{
    display: flex;
    gap: 80px;
    justify-content: space-between;
    padding: 0 280px;
}

footer span{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px;
}

footer ul{
    margin-top: 16px;
    list-style: none;
}

footer li{
    margin-top: 12px;
    text-align: left;
}

footer a{
    font-size: 14px;
    text-decoration: none;
    color: black;
}



@media (max-width: 990px){

.header-content {
padding: 0 40px;
}

nav{
display: none;
}

.header-btn{
display: none;
}

.btn-menu{
display: block;
background: none;
border: none;
font-size: 26px;
}

.logo{
display: block;
}

.header-logo-nave{
display: none;
}


.Cards{
padding: 0 40px;
flex-wrap: wrap;
justify-content: center;
}

.section-card-text {
width: 45%;
}

.btn-content{
width: 90%;
height: auto;
padding: 24px;
flex-direction: column;
gap: 20px;
}

.btn-p-tr{
margin-top: 0;
align-self: flex-start;
}

.card-charge,
.card-charge-reverse{
width: auto;
margin: 40px;
}

footer img{
margin-left: 40px;
}

.footer-list{
padding: 0 40px;
gap: 40px;
flex-wrap: wrap;
}

.footer-list div{
width: 45%;
}
}

@media (max-width: 766px) {

/* HEADER */
.header-nav-list,
.header-btn,
.header-divider {
display: none;
}

.logo {
display: block;
}

.btn-menu {
display: block;
background: none;
border: none;
font-size: 24px;
}

.header-content{
padding: 0 20px;
}

h1{
font-size: 28px;
padding: 0 20px;
}


.Cards{
flex-direction: column;
padding: 0 20px;
}

.section-card-text{
width: 100%;
}

.btn-content{
flex-direction: column;
height: auto;
padding: 24px;
text-align: left;
}

.btn-p-tr{
margin-top: 20px;
}

.card-charge,
.card-charge-reverse{
flex-direction: column;
width: calc(100% - 40px);
margin: 20px;
height: auto;
}

.card-charge img,
.card-charge-reverse img{
width: 100%;
height: auto;
}

footer {
height: auto;
}

footer img{
margin-left: 20px;
margin-bottom: 24px;
}

.footer-list{
flex-direction: column;
padding: 0 20px;
}

.footer-list div{
width: 100%;
}
}

@media(max-width:470px){

h1{font-size:24px;}

.title-charge{font-size:26px;}
.text-charge{padding:0 20px;}

.card-charge h2,
.card-charge-reverse h2{
margin-left:20px;
margin-top:40px;
}

.card-charge p,
.card-charge-reverse p{
margin-left:20px;
width:auto;
}

.btn-tertiary,
.btn-tertiary2{
margin-left:20px;
}

.img-charge img{
max-width:85%;
}

footer{
padding:24px 16px;
}

footer li{text-align:left;}

}